name: flutter_parsed_text
description: A Flutter package to parse text and make them into multiple Flutter Text widget.
version: 1.0.0
author: "fayeed <fayeed@live.com>"
homepage: https://github.com/fayeed/flutter_parsed_text

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
